<!DOCTYPE html>
<html lang="en">
<head>
	<title>Lyft</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/preRegistration.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="img_logo center-align">
		<img class="logo" src="../assets/logo-white.png">
	</div>
	<div class="btn_group">
		<a class="waves-effect pink darken-3 btn disabled btn_rounded" id="btn_L">Log In</a>
		<a class="waves-effect pink darken-3 btn btn_rounded" id="btn_SignUp" >Sign Up</a>
	</div>

	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/materialize.min.js"></script>
	<script src="../js/preRegistration.js"></script>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</body>
</html>