<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registrate en Lyft</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../css/registration.css">
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<h3 class="center-align">Sign Up</h3>
		<h5 class="center-align">Join now for free ride credit</h5>
		<hr>
	</header>
	<div class="container">
		<div class="row">
		 	<form>
				<div class="input-field col s3 control">
					<select class="icons">
						<option value="" disabled selected> </option>
						<option value=" " data-icon="../assets/chile1.png" class="left circle">+56</option>
						<option value="" data-icon="../assets/mexico1.png" class="left circle">+52</option>
						<option value=" " data-icon="../assets/peru.png" class="left circle">+51</option>
					</select>												
				</div> 
				<div class="input-field col s9 control">
					<input id="phoneNumber" type="tel" class="validate" required="required" size="9" maxlength="9">
					<label for="phoneNumber">Telephone</label>
				</div>
		 	</form>	
		</div>
		<div class="row center-align"> 
		  	We'll send a text to verify your phone
		</div>
	</div>
	
	<footer>
		<button type="submit" id="btn_Next" class="btn waves-effect pink darken-3 btn" name="submit_form">
			next
		</button>
	<footer>
	

	<script src="../js/jquery-3.2.1.min.js"></script>
	<script src="../js/registration.js"></script>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="../js/materialize.min.js"></script>
  </body>
</body>
</html>